@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'DINPro';
  src: url("../fonts/DINPro.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'DINProBold';
  src: url("../fonts/DINPro-Bold.woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'GilroyLight';
  src: url("../fonts/Gilroy-Light.woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'GilroyRegular';
  src: url("../fonts/Gilroy-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'GilroyExtraBold';
  src: url("../fonts/Gilroy-ExtraBold.woff");
  font-weight: 800;
  font-style: normal;
}