html {
  overflow-y: hidden; // !
  -ms-overflow-y: hidden;
  height: 100vh;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}
body {
  overflow-y: hidden; // !
}
.snap-container {
  background: url("../img/global/bg.png") 0 0 no-repeat;
  background-size: cover;
  scroll-snap-type: x mandatory; //!
  -webkit-overflow-scrolling: touch; /* Necessary for mobile scrolling */
  scroll-snap-stop: always;
  display: flex;
  overflow-y: hidden;
  overscroll-behavior: none;
}
.snap-slide {
  height: 100vh;
  width: 100vw;
  min-width: 100vw;
  scroll-snap-align: start; //!
  scroll-snap-stop: always;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
}